<div class="footer">
  <div class="footer-links">
    <a id="a" class="abdul" href="https://github.com/abdul-muhaimin"><i class="fab fa-github"></i><span>Abdul</span></a>
    <a id="a" class="thomas"  href="https://github.com/typexapex"><i class="fab fa-github"></i><span>Thomas</span></a>
    <a id="a" class="simon"  href="https://github.com/SimonBystrom"><i class="fab fa-github"></i><span>Simon</span></a>
    <a id="a" class="kirk"  href="https://github.com/parK-dev"><i class="fab fa-github"></i><span>Kirk</span></a>
  </div>
</div>
