<div id="banner" style="background-image: <%= image_path('bg.jpg') %>;">
  <div id="banner-text">
    <div id="banner-text-typed">
    </div>
    <div class= "mb-5">
      <%= form_tag locations_path, method: :get do %>
        <%= search_field_tag :query,
          params[:query],
          class: 'search-bar',
          id: "location_address",
          placeholder: "Search"
        %>
      <% end %>
    </div>
  </div>
</div>
