<div id="banner" style="background-image: <%= image_path('bg.jpg') %>;">
  <div id="banner-text">
    <div id="banner-text-typed">
    </div>
    <div class= "mb-5">
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
