html, body {
  height: 100%;
  margin: 0 auto;
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: 100vh;
  margin-top: 100px;
  background-size: cover;
  background: rgb(164,164,164);
  background: linear-gradient(0deg, rgba(164,164,164,1) 23%, rgba(255,255,255,1) 85%, rgba(255,255,255,-0.5) 100%);
  }


.booking-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.rent {
  margin: 16px;
  padding: 8px;
}
.own {
  padding: 8px;
  margin: 16px;
}
