html, body {
  height: 100%;
  margin: 0 auto;
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: 100vh;
  margin-top: 100px;
}


.booking-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.rent {
  margin: 16px;
  padding: 8px;
}
.own {
  padding: 8px;
  margin: 16px;
}
