.location-card{
  width: 600px;
  height: 180px;
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  border-radius: 16px;
  background-color:  rgba(255,255,255,0.9);
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;

  text-shadow: 2px 2px $light-gray;
  img{
    width: 250px;
    height: auto;
  }
  &:hover {
    transform: scale(1.02)
  }
  i{
    opacity: 0.7;
  }
  h5{
    opacity: 0.8;
  }
}

.location-info{
  p{
    opacity: 0.6;
  }
}

.location-card-link{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.location-card-big {
  height: 250px;
  width: 600px;
  background-color:  $white;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img{
    width: 250px;
    height: auto;
  }
}

.location-card-big p {
  margin-bottom: 0;
}



