.location-card{
  width: 600px;
  height: 180px;
  background-color:  $white;
  position: relative;
  img{
    width: 250px;
    height: auto;
  }
}

.location-card-link{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.location-card-big {
  height: 250px;
  width: 600px;
  background-color:  $white;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img{
    width: 250px;
    height: auto;
  }
}

