.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 84px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 72px;
}

.nav-link{
  h3{
    color: black;
  }
}
