<div class="d-flex p-3 border-top border-bottom border-secondary rounded-sm">
  <div class="location-info flex-grow-1">
    <h3> <%= location.name %> </h3>
    <p> <%= location.description %> </p>
  </div>
  <%= image_tag(location.photo.key) %>
</div>
